.header_cart
{
    margin: auto;
    width: 50%;
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
    opacity: 0.6;
    color: black;
}

ul{
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}


